@model PLP_Music_JukeBox.Album

@{
    ViewBag.Title = "DeleteAlbum";
}

<h2>DeleteAlbum</h2>

<div class="form-horizontal">
    <h4>Album</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.AlbumID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AlbumID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AlbumID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Delete" id="btndelete" class="btn btn-default" />
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $('#btndelete').click(function () {
            $.ajax({
                type: 'delete',
                url: 'http://localhost:54759/api/MusicAPI/' + $("#AlbumID").val().trim(),
                dataType: 'json',
                success: function (d) {
                    alert("Successed :");
                }
            });
        });
    </script>
    </div>
